/********************************************
	Tag Resets
********************************************/

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
}

/********************************************
	Normalize CSS
	http://necolas.github.com/normalize.css/
********************************************/

html {
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    min-height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
audio,
canvas,
video {
    display: block;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

b,
strong {
    font-weight: bold;
}

abbr[title] {
    border-bottom: 1px dotted;
}

input,
textarea,
button,
select {
    margin: 0;
    font-size: 100%;
    line-height: normal;
    vertical-align: baseline;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

textarea {
    overflow: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ******************************************
	Web Fonts
****************************************** */

@font-face {
    font-family: "Roboto Condensed Light";
    src: url('../fonts/robotocondensed-light-webfont.eot');
    src: url('../fonts/robotocondensed-light-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/robotocondensed-light-webfont.woff') format("woff"), url('../fonts/robotocondensed-light-webfont.ttf') format('truetype'), url('../fonts/robotocondensed-light-webfont.svg#RobotoCondensedLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ******************************************
	Custom Styles
****************************************** */

/*	  For details on font-size:100% see here:
      http://filamentgroup.com/lab/how_we_learned_to_leave_body_font_size_alone/

	  For details on line-height:1 see here:
      http://meyerweb.com/eric/thoughts/2008/05/06/line-height-abnormal/

	  For details on text-size-adjust:100% see here:
	  https://developer.mozilla.org/en-US/docs/CSS/text-size-adjust
*/
html {
    font-size: 100%;
    line-height: 1;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: 'Roboto Condensed Light', 'Helvetica Neue', Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

p {
    font-size: 1.063em; /* 17px / 16px = 1.063em */
    line-height: 1.223; /* 1.3 / 1.063 = 1.223em */

    /*
    these were the initial values:

    font-size: 1.063em; / * 17px / 16px = 1.063em * /
    line-height: 1.25; / * 20px / 16px = 1.25em * /

    typographic scale by multiplying the font-size and line-height in ems:

      1.063 * 1.25 = 1.32875 -> rounded to 1.3 -> this is the typographic scale for the page

      we re going to calculate any measurement on the page with that golden value

        Scale:      1.3
        3/4 Scale: .975
        1/2 Scale: .65
        1/4 scale: .325
        */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

h1 {
    font-size: 2.764em; /* 1.95 * 1.063  = 2.7638  */
    line-height: 0.941; /* 2.6 / 2.764 = .940665702 */
}

h2 {
    font-size: 2.073em; /* usually 2 times the P = 1.95 * 1.063 = 2.07285 */
    line-height: 1.223; /* 1.95 / 2.073 */
}

h3 {
    font-size: 1.382em; /* 1.3 (the scale) * 1.063 (<P>'s font size)  = 1.382 (rounded to 3 decimal places) */
    line-height: 1.176; /* 1.625 (the scale) / 1.382 (<H3>'s font scale) = 1.176 */
}

h1, h2 {
    text-shadow: 0 2px 2px rgba(0, 0, 0, .65);
}

h4 {
    font-size: 1em;
    line-height: 1.56;
    text-transform: uppercase;
}

h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .85em;
    line-height: 1.53;
    font-weight: 500;
}

h6 {
    color: #aaa;
    font-weight: 200;
}

#nav,
#masthead,
#content,
#colophon {
    margin: 0 3.3%;
}

#masthead {
    color: #fff;
}

#container-nav {
    background: #fff;
}

#container-header {
    width: 100%;
    height: 350px;
    background: #352a38;
    padding-top: 14px;
}

#container-content {
    padding: 24px 0;
}

#container-footer {
    padding: 32px 0;
    background: #352a38;
    color: #eee;
    font-weight: 100;
}

.box {
    padding: 14px;
}

#portfolio h4 {
    line-height: 1.82;
}

.box ul {
    list-style: none;
    padding: 0;
}

#nav h3 {
    text-transform: capitalize;
}

#content article {
    padding-top: 0.65em; /* 1/2 scale */
    padding-bottom: 1.3em; /* our scale factor */
}

.box h4 {
    color: #999;
    border-top: 4px double #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: .975em; /* 3/4 of 1.3 */
    text-align: center;
}

figure,
.box {
    background: #fff;
    -moz-box-shadow: 0 0 .325em .13em rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 .325em .13em rgba(0, 0, 0, .1);
    box-shadow: 0 0 .325em .13em rgba(0, 0, 0, .1);
    padding: .975em; /* 3/4 of 1.3 */
}

section footer {
    clear: both;
}

/* Remember box-sizing isn't supported in legacy browsers like IE7 and below.
Let's address this issue, using a polyfill.

Box-sizing Polyfill for IE7 and IE6
https://github.com/Schepp/box-sizing-polyfill

Note: When using this polyfill, use an absolute path instead of a relative path to avoid an issue with the polyfill not loading.
*/

/* ******************************************
    IE 7 and below, legacy browser style fixes
****************************************** */
.ie .wrapper {
    *behavior: url("http://givanov.net/index.html");
}

/* Clearfix */
/* Float Clearing http://nicolasgallagher.com/micro-clearfix-hack */
.group {
    *zoom: 1; /* 3 */
}

.group:after {
    content: " "; /* 1 */
    display: table; /* 2 */
    clear: both;
}

/**********************
Media queries (pc; screen wider than 720px)
**********************/
@media screen and (min-width: 45em) {
    body {
        font-size: 107.692307692308%;
    }

    #masthead {
        max-width: 40em;
    }

    #portfolio article,
    #resume article {
        float: left;
        width: 33.333%;
    }

    #nav,
    #masthead,
    #content,
    #colophon {
        margin: 0 5.5%;
    }
}

/**********************
Media queries (print)
**********************/
@media print and (max-width: 8.5in) {
    #masthead {
        color: black
    }

    #container-header {
        height: auto;
    }

    img {
        width: 2in;
    }

    #portfolio {
        float: left;
        width: 45%;
    }

    #resume {
        float: right;
        width: 45%;
    }

    #container-footer {
        clear: both;
    }
}